body{
    background: #EDECED;
}
nav{
    animation: translateIn ease 0.9s;
    animation-iteration-count: 1;
}
@keyframes translateIn {
    0%{
        transform:translateY(-100px) ;
    }
    100%{
        transform: translateY(0) ;
    }
}
.nav-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-right:30px;
    position:relative;
}
.nav-link:hover{
    color:white;
}
.nav-link:after {
  display:block;
  content: '';
  border-bottom: solid 1px #a8e3ec;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.nav-link:hover:after {
    transform: scaleX(1);
}
.nav-link:after{  transform-origin:  0% 50%; }
.navbar-brand-img{
    margin-top: 4px;
}
.navbar-brand{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 44px;
    color: #FFFFFF;
}
.navbar-new{
    background: rgba(0, 0, 0, 0.719);
    height: 70px;
}
.container-fluid{
    margin-left:140px;
    margin-right:140px;
}
.background-img{
    background-image: url("/Rectangle\ 12.png");
    min-height:270px;
    background-size: cover;
    animation: bgEntry 0.8s ease ;
}
@keyframes bgEntry {
    0%{
        height: 100vh;
        transform: scale(1.1250);
    }
    100%{
        height: 270px;
        transform: scale(1);
    }
}
.page-header>h1{
    font-family: 'Cabin';
    font-size: 75px;
    line-height: 63px;
    color: #14202afa;
    margin-top:150px;
    text-shadow: rgba(255, 255, 255, 0.53) 1px 0 10px;
}
.page-header{
    margin-left:140px;
    margin-right:140px;
    font-family: 'Cabin';
    font-size: 70px;
    line-height: 63px;
    color: #041626;
    margin-top:150px;
}
.heading-con{
    margin-top:30px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 163.15%;
    color: #55636e;
}
.projects-footer{
    margin-top:172px;
    min-width: 100%;
    height: 462px;
    left: -1px;
    top: 1810px;
    background: #21283B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.footer-logo{
    background-image: url("/sangananprayog.png");
    height:94px;
    width:120px;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link{
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.8);
    margin-left:20px;
}

.project-social{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    margin-left: 30px;
}
.projects-socials{
    margin-top:40px;
    display: flex;
}
.footer-copyrights{
    margin-top: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #6D7D8B;
}


@media (max-width:400px){
    .container-fluid{
        margin:0;
        padding: 0;
    }
    .page-header>h1{
         text-align: center;
    }
    .page-header{
        margin:0;
        margin-top:10%;
    }
    .heading-con{
        color: #3b4750;
        text-align:center;
        display: none;
    }
    .project-cards{
        margin-left:0;
        margin-right:0;
        align-items: center;
        justify-content: center;
    }
    .navbar-brand{
        margin-left: 10px;
    }
    .navbar-collapse{
        margin: 0;
        margin-top: 8px;
        width: 100vw;
        padding-left: 10px;
        background: rgba(0, 0, 0, 0.719);
    }
    .nav-link{
        text-align: center;
    }
    .project-card{
        height: 450px;
        width: 315px;
    }

}