
body{
    background: #010101;
}
nav{
    animation: translateIn ease 0.25s;
    animation-iteration-count: 1;
}
@keyframes translateIn {
    0%{
        transform:translateY(-100px) ;
    }
    100%{
        transform: translateY(0) ;
    }
}
.nav-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-right:30px;
    position:relative;
}
.nav-link:hover{
    color:white;
}
.nav-link:after {
  display:block;
  content: '';
  border-bottom: solid 1px rgb(0, 221, 255);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.nav-link:hover:after {
    transform: scaleX(1);
}
.nav-link:after{  transform-origin:  0% 50%; }
.navbar-brand-img{
    margin-top: 4px;
}
.navbar-brand{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    line-height: 44px;
    color: white;
}
.navbar-brand:hover{
    transform: scale(1.009) ;
    color: white;
}
.navbar-new{
    
}
.container-fluid{
    margin-left:9%;
    margin-right:9%;
}
.background-img{
    background-image: url("/img/Reactangle\ 12.jpg");
    background-position: 462px;
    background-repeat: no-repeat;
    background-color: #010101;
    min-height:1000px;
    background-size: cover;
    animation: bgEntry 0.8s ease ;
}
@keyframes bgEntry {
    0%{
        height: 100vh;
        transform: scale(1.1250);
    }
    100%{
        height: 550px;
        transform: scale(1);
    }
}
.page-header>h1{
    font-family: 'Cabin';
    font-size: 75px;
    background: linear-gradient(90deg, #762A7B 18.47%, #68D2F1 54.39%);
    background-size:39%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.page-header{
    margin-left:140px;
    margin-right:140px;
    font-family: 'Cabin';
    font-size: 70px;
    line-height: 63px;
    color: #041626;
    margin-top:150px;
}
.heading-con{
    margin-top:30px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 163.15%;
    color: #55636e;
}
.project-cards{
    margin-left:140px;
    margin-right:140px;
   margin-top:-550px;
   display:flex;
   flex-wrap:wrap;
   justify-content: space-between;
   animation-name: slideIn;
   animation-timing-function: ease-in;
   animation-duration: 0.5s;
}
@keyframes slideIn{
    0%{
        transform:translateY(200px) ;
    }
    
    100%{
        transform:translateY(0) ;
    }
}
.project-card{
    width: 367px;
    height:500px;
    background-color: #111111;
    border-radius: 7px;
    overflow: hidden;
    margin-top:80px;
    transition: all 0.2s ease 0s;
}
.project-card:hover{
    position:relative;
    transform: translateY(-3px) scale(1.0125);
}
.project-image-1{
    background: url("/img/pexels-pixabay-2156.jpg");
    background-color: #a8dadc;
    height:200px;
}
.project-image-2{
    background: url("/img/Image.png");
    background-color: #a8dadc;
    height:200px;
}
.project-image-3{
    background: url("/img/solid-fuel.png");
    background-color: #a8dadc;
    height:200px;
}
.project-image-4{
    background: url("/img/rover.png");
    background-color: #a8dadc;
    height:200px;
}
.project-image-5{
    background: url("/img/weather.png");
    background-color: #a8dadc;
    height:200px;
}
.project-image-6{
    background: url("/img/air.png");
    background-color: #a8dadc;
    height:200px;
}

.project-content{
    padding:16px;
}
.project-heading{
    text-transform: uppercase;
    margin-top: 29px;
    margin-bottom: 32px;
    font-family: 'Cabin';
    font-style: normal;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.project-description{
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140.6%;
    color: #6D7D8B;
}
.projects-footer{
    margin-top:172px;
    min-width: 100%;
    height: 462px;
    left: -1px;
    top: 1810px;
    background: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.footer-logo{
    background-image: url("/img/sangananprayog.png");
    height:94px;
    width:120px;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link{
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.8);
    margin-left:20px;
}

.project-social{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    margin-left: 30px;
}
.projects-socials{
    margin-top:40px;
    display: flex;
}
.footer-copyrights{
    margin-top: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #6D7D8B;
}


@media (max-width:400px){
    .container-fluid{
        margin:0;
        padding: 0;
    }
    .page-header>h1{
         text-align: center;
    }
    .page-header{
        margin:0;
        margin-top:10%;
    }
    .heading-con{
        color: #3b4750;
        text-align:center;
        display: none;
    }
    .project-cards{
        margin-left:0;
        margin-right:0;
        margin-top: -700px;
        align-items: center;
        justify-content: center;
    }
    .navbar-brand{
        margin-left: 10px;
    }
    .navbar-collapse{
        margin: 0;
        margin-top: 8px;
        width: 100vw;
        padding-left: 10px;
        background: rgba(0, 0, 0, 0);
    }
    .nav-link{
        text-align: center;
    }
    .project-card{
        height: 450px;
        width: 315px;
    }
    .background-img{
        background-position: -187px;
    }
   .page-header > h1 {
    margin-top:100px;
    background-position: -100px;
    text-align: center;
    background-size: 200%;
}

}

  
  /* The animation starts here */
  .animated-box {
    position: relative;
  }
  
  .animated-box:hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
    background-size: 300% 300%;
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  
  .animated-box.in:hover:after {
    animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
  }
  
  /* motion */
  @keyframes gradient-animation {
    0% {
      background-position: 15% 0%;
    }
    50% {
      background-position: 85% 100%;
    }
    100% {
      background-position: 15% 0%;
    }
  }
  
  @keyframes frame-enter {
    0% {
      clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    25% {
      clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    50% {
      clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
    }
    75% {
      -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
    }
    100% {
      -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
    }
  }
  
